// Typography

$primary-font: 'Rubik', sans-serif;
$regular: 400;
$bold: 500;
$letter-spacing: 0.03rem;
$letter-spacing-2x: 0.06rem;
$letter-spacing-big: 0.1rem;

// Color Palette

$primary: #3f50b5;
$primary-hover: #002884;
$secondary: #eff1f2;
$secondary-hover: #d4d8da;
$success: #8ac148;
$success-hover: #599014;
$info: #00a9f4;
$info-hover: #007ac1;
$warning: #ff9800;
$warning-hover: #c66900;
$danger: #e53635;
$danger-hover: #ab000e;
$title-color: #111;
$text-color: #555;
$light-bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$dark-body-bg: #111;
$white: #fff;
$light-grey: #ebebeb;
$grey: #ccc;
$mid-grey: #777;
$dark-grey: #333;
$black: #000;
$primary-transparent: rgba(63,80,181,0.9);
$primary-transparent-2: rgba(63,80,181,0.75);

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;