/* You can add global styles to this file, and also import other style files */
/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */

.lighthouse-header {
    padding-top: 8%;
    padding-bottom: 5%;
}

.lighthouse-header .img {
    width: 300px;
    height: 300px;
}

.lighthouse-header .lighthouse-text {
    font-size: 250%;
    padding-left: 3%;
}

.red {
  color: red;
}

.lds-ring {
    position: relative;
    width: 64px;
    height: 64px;
    left: 47%;
    margin-bottom: 15px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid green;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color:green transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  